@media (min-width: 768px) {
    body {
        overflow-x: hidden;
    }
    .fileupload-buttonbar .toggle, .files .toggle, .files .btn span{
        display:block !important;
    }
    .bootstrap-vertical-nav .navbar .navbar-collapse {
        padding: 0;
        max-height: none;
    }
    .bootstrap-vertical-nav .navbar ul {
        float: none;
    }
    .bootstrap-vertical-nav .navbar ul:not {}
        display: block;
    }
    .bootstrap-vertical-nav .navbar li {
        float: none;
        display: block;
    }
    #loginEmail {
        width: 20%;
    }
    #loginPassword {
        width: 20%;
    }
    .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
        margin-left: 0;
    }
    #exCollapsingNavbar2.collapse{
        display:block !important;
    }
}
body {
    margin: 0;
    padding: 0;
}
#wrapper{
    background-color:#f2f2f2;
}
#header{
    width: 100%;
    height: 15%;
    margin: 0;
    position: relative;
}
.bootstrap-vertical-nav{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
#mainblock{
    width: 100%;
    height: 20vh;
    padding: 14.5px;
    float: left;
    background-image: url('../core/images/background.png');
    background-size: cover;
}
#userblock{
    width: 100%;
    height: 20vh;
    float: left;
    background-color: #4F5258;
    padding: 5px;
}
#userblock a{
    color: white;
}
#userblock p{
    height: 100%;
    color: white;
}
#downblock{
    height: auto;
    min-height: 30px;
    background-color: darkblue;
}
#body{
    min-height: 75vh;
}
.row{
    height:inherit;
}
.nav-item {
    padding-top: 5px;   
    padding-bottom: 5px;
}       
.nav-item:hover {
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
    color: black;
}
#searchbar {
    padding-top: 30px;
    padding-left: 15px;
}
#search {
    padding: 0 !important;
    padding-left: 15px !important;
    margin: 0;
    float: left;
    width: 100%;
}
.searchinput {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    border:1px solid #0076a3; border-right:0px;
    border-top-left-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    width: 70%;
}
.searchbutton {
    margin: 0;
    padding: 5px 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #000000;
    border: solid 1px #0076a3;
    background: #FFFFFF;
    border-top-right-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
    width: 10%;
}
.searchbutton:hover {
    text-decoration: none;
    background: #85a8ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#85a8ff), to(#c8d8ff));
    background: -moz-linear-gradient(top,  #85a8ff,  #c8d8ff);
}
.searchbutton::-moz-focus-inner {
    border: 0;
}
.navbar-toggler{
    font-size:30px;
    background-color:transparent;
    border:none;
}
.navbar-toggler:hover{
    color:#85a8ff;
}
.navbar ul {
    list-style: none;
}
.navbar p {
    border-top: 0px !important;
    margin-left:40px;
    font-size:20px;
}
.navbar p:hover {
    background-color: #c8d8ff !important;
}
.navbar ul li {
    border-top: 1px solid #535353 !important;
}
.navbar ul a {
    text-decoration: none !important;
    color: #000000 !important;
}
.container-fluid {
    padding: 0;
    margin: 0;
}
.col-lg-2 {
    min-height: 359.2px;
    height: 100%;
    padding-right: 0;
    background-color: #c8d8ff;
}
.col-lg-3 {
    padding: 0;
}
.col-lg-9 {
    padding: 0;
}
.col-lg-10 {
    padding: 0;
    height: 100%;
    background-color: #f2f2f2;
}
#downblock .btn-group {
    margin-right: 45px;
}
.btn-group {
    height:34px;
    margin-right: 15px;
    float: right;
}
nav {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
}
.col-lg-12 {
    padding: 0;
}
#downblock .col-lg-12 {
    background-color: darkblue;
}
.files {
    width: 100%;
    min-height: 100%;
    height: 100%;
    float: left;
    margin-bottom:20px;
}
.navigation {
    width: 100%;
    height: auto;
    padding-top: 20px;
    float: left;
}
@media (max-width: 415px) {
    .fileblock {
        width: 150px;
        height: 230px;
        background-color: #c8d8ff;
        border-radius: 15px;
        margin-left: 30%;
        margin-right: 31%;
        margin-bottom: 10%;
        float: left;
    }
}
@media (min-width: 416px) {
    .fileblock {
        margin-bottom: 2%;
        width: 150px;
        height: 230px;
        background-color: #c8d8ff;
        border-radius: 15px;
        margin-left: 55px;
        margin-top: 20px;
        float: left;
    }
}
.filemenu {
    width: 150px;
    height: 90px;
    border-radius: 0px 0px 15px 15px;
    background-color: #85a8ff;
    position: absolute;
}
.fileblock .btn-link .glyphicon-file {
    font-size: 75px;
    color: white;
    padding-top: 30.2px;
    padding-left: 37.5px;
}
.fileblock .btn-link .glyphicon-folder-open {
    font-size: 75px;
    color: white;
    padding-top: 30.2px;
    padding-left: 27.5px;
}
.filemenu .btn-group span {
    font-size: 16px;
}
.filemenu .btn-link {
    color: white;
    height:34px;
    width:42px;
}
.filemenu .btn-link:hover,
.filemenu .btn-link:active,
.filemenu .btn-link:focus {
    color: darkblue;
}
.footer {
    background-color: #4f5258;
    color: white;
    text-align: center;
    height: 6vh;
    padding: 0;
    margin: 0;
}
#banner {
    padding: 0px;
}
#userLogged {
    padding: 0px;
}
#footerContainer {
    padding: 0px;
}
#footerContainer p {
    padding-top: 0.77%; 
}
.portfolioSelect {
    width: 70%;
    margin-left:30px;
    margin-right: 25%;
    margin-top : 25%;
}
.FolderTitle {
    width: 100%;
    text-align: center;
    font-size: 16px;
}
#addUser {
    display: none;
}
.navbar-toggler {
    display:none;
}
.mainContent {
    min-height:69.9vh;
    overflow: hidden;
}
.fileupload-buttonbar .toggle, .files .toggle, .files .ptn span {
	display: block !important;
}
.modal-footer {
    text-align: center !important;
}
@media only screen and (max-width: 1200px){
	#commentForm textarea{
		resize:none;
		width:70%;
	}
    .nav-item {
        clear: both;
        margin-right:5px;
        margin-bottom:5px;
    }
    .portfolioSelect {
        margin-top:0;
    }
    #userblock {
        min-height:10px;
    }
    #downblock {
        height:5vh;
    }
    #exCollapsingNavbar2.collapse {
        display:none !important;
    }
    #exCollapsingNavbar2.collapsing {
        background-color:#c8d8ff;
    }
    #exCollapsingNavbar2.collapse.in {
        display:block !important;
        background-color:#c8d8ff;
    }
    .navbar-toggler {
        display:block;
    }
    .bootstrap-vertical-nav {
        padding-bottom:0;
        margin-bottom:0;
        min-height:0 !important;
    }
    #body {
        height:auto;
    }
    .mainContent {
        min-height:55vh;
    }
    #loginEmail {
        width: 50%;
    }
    #loginPassword {
        width: 50%;
    }
	.input-group textarea{
    width:300px !important;
  }
 
  #commentForm textarea{
    resize:none;
    width:70%;
  }
}
#backButton {
	margin-top: 1%;
}

/*
comments
*/
.comment{
  background-color:#85a8ff;
  padding:10px;
  max-width:700px;
  border-radius:15px;
  margin-bottom:10px;
  word-wrap: break-word;
}
 
#commentForm textarea{
  resize:none;
  width:700px;
}
 
.commentContent{
  background-color:#c8d8ff;
  border-radius:15px;
  padding:10px;
}

#colorExample{
  background-color:white;
  color:black;
  width:300px;
  padding:10px;
}
 
#color_txt, #color_bg{
  width:150px;
}
 
.input-group textarea{
  resize:none;
  width:30vw !important;
}
 
#gridimg{
  width:300px;
  margin-bottom:20px;
}

@media (max-width: 767px){
    .fileupload-buttonbar .toggle, .files .toggle, .files .btn span {
        display: block !important   ;
    }
}
.Pnav {
    float: left;
}
#folderCreateDesc {
    resize: none;
    height: 145px;
}
#EditFolderDesc {
    resize: none;
    height: 145px;
}
#selPort {
    width: 110%;
}
#AddEmail {
    width: 120%;
}
#AddPassword {
    width: 120%;
}
#Addfname {
    width: 120%;
}
#Addlname {
    width: 120%;
}
#AddPhone {
    width: 120%;
}
.table-hover tr:hover{
    background-color: #c8d8ff !important;
}
.file {
	padding-bottom: 29.4px;
	cursor: pointer;
}