* {
    padding: 0;
    margin: 0;
}
body {
    margin: 0 auto;
}

/*De style regels van Maurice*/

/*De style regels van Bram*/

/*De style regels van Stan*/

/*De style regels van Julian*/

/*De style regels van Dennis*/

/*De style regels van Jasper*/

/*De style regels van Rick*/