body {
   overflow-x: hidden;
}
html, body{
    min-height: 100%;
    height: 100%;
    background-color: lightgrey !important;
}
 
 
/* Classes */
ul.dropdown-menu li a{
    color: black !important;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #000000;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: grey;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #000;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.clickable {
    cursor: pointer;
}
.grid-img {
    margin: 0 auto !important;
    width: 50%;
}
/* ID's */
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}



#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
.navbottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.navbtn{
    background: rgba(255, 255, 255, 0.3) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
}
.submit {
    background:rgba(255, 255, 255, 0.3) !important;
}
.unspan{
    line-height: 5px;
}
.center{
        text-align: center !important;
    }
/* PC only */

@media(min-width:768px) {
    /* ID's*/
    
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #container{
        margin-left: 265px !important;
        margin-right: 10px !important;
        height: 100%;
        min-height: 100%;
    }
    /* Classes */
    .banner {
        margin-left: 250px;
        margin-bottom: 5px;
    }
    .sidebar-brand{
        margin-bottom: 10px !important;
    }
    .sidebar-secondary {
        list-style-type: none;
    }
}
@media (max-width: 768px){
    /* ID's */
    
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        left: 50px;
    }
    #sidebar-wrapper:hover {
        left:250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #container {
        margin-top: 61px;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* Classes */
    .navmenu-secondary {
        margin-left: 30px;
    }
    .navbar-toggle {
        background-color: whitesmoke !important;
        float: left !important;
        margin-left: 10px;
    }
    .navbar{
        background-image: url("img/background.png") !important;
    }
}