*{
    margin: 0;
    padding: 0;
}

#header{
    width: 1000px;
    height: 120px;
    margin: 0 auto;
    position: relative;
}

#mainblock{
    width: 800px;
    height: 120px;
    float: left;
    background-image: url('../images/header-achtergrond.png');
}

#mainblock img{
    padding: 10px;
}

#userblock{
    width: 190px;
    height: 110px;
    float: left;
    background-color: #4F5258;
    padding: 5px;
/*    background-image: url("header-gblock.png");*/
}

#userblock a{
    position: absolute;
    bottom: 5px;
	color: white;
}

#userblock p{
    width: 190px;
    height: 110px;
	color: white;
}

#downblock{
    width: 1000px;
    height: 50px;
    float: left;
    background-color: darkblue;
/*    background-image: url("header-balk.png");*/
}

.item-add{
    width: 40px;
    height: 40px;
    float: right;
    padding: 5px;
}

a{
        text-decoration: none;
        color: black;
}